* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

button{
    border: 1px solid #000;
}

.container h1 {
    font-weight: 600;
    font-size: 40px;
    margin: auto;
}

.item {
    display: flex;
    justify-content: space-around;
}

input[type="checkbox"] {
    margin: 15px 5px 5px;
}

#productSearch{
    margin: 15px 5px 5px;
}

.price_search{
    margin-top: 10px;
}

table{
    margin: auto;
    width: 1100px;
}
